.wrap {
  width: 1280px;
  height: 800px;
  background-color: #FF8C6E;
  display: flex;
  justify-content:flex-start;
  align-items:center;
}

.box {
  margin-top: 58px;
  margin-right: 174px;
  position: relative;
  height: 300px;
  width: 100px;
  align-self:flex-start;
}

.list-box {
  position: absolute;
  height: 208px;
  width: 81px;
  border: 3px solid black;
  border-left: none;
  transform: rotate(30deg);
  background-color: white;
  left: -70px;
  overflow:hidden;
}

.flex-column {
  margin-top: 18px;
  display: flex;
  flex-direction:column;
  align-items:flex-end;
  padding-right: 10px;
}

.list-word {
  font-family: 'Noto Sans TC', sans-serif;
  font-weight:bold;
  font-size: 16px;
  line-height: 24px;
}

.list-line {
  height: 0px;
  width: 23px;
  border: 2px solid black;
  margin-bottom: 3px;
}

.content {
  width: 732px;
  height: 732px;
  background-color: #FFFFFF;
  border: 3px solid black;
  position: relative;
}

.rec {
  position: absolute;
}

.rec-bottom {
  width: 734px;
  height: 17px;
  background-color: #C5C5C5;
  border: 3px solid black;
  transform: skew(45deg);
  bottom: -20px;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.2);
  border-top: 0px;
  left: 5px;
}

.rec-right {
  width: 16px;
  height: 740px;
  background-color: #C5C5C5;
  clip-path: polygon(0 0, 100% 2%, 100% 100%, 0 98%);
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.2);
  z-index: 5;
  top: 3px;
}

.rec-right-border {
  width: 19px;
  height: 749px;
  top: -3px;
  right: -22px;
  background: black;
  clip-path: polygon(0 0, 100% 2%, 100% 100%, 0 98%);
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.2);
}